.shop-content .panel-grid {
  margin-bottom: 0;
}
.shop-content .row-no-margin {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.shop-content .row-no-margin .col-md-6 {
  width: 50%;
}

.blog-content .kt-si-table-box {
  display: flex;
  align-items: center;
}
