.c-from-left {
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px);
}

.c-from-right {
  -webkit-transform: translateX(100px);
  transform: translateX(100px);
}

.c-from-left,
.c-from-right {
  transition: opacity 650ms ease-in, -webkit-transform 800ms ease;
  transition: opacity 650ms ease-in, transform 800ms ease;
  opacity: 0;
}

@media screen and (max-width: 1024px) {
  .c-from-left {
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
  }

  .c-from-right {
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
  }
}

@media screen and (max-width: 531px) {
  .c-from-left {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  .c-from-right {
    -webkit-transform: translateX(-0px);
    transform: translateX(-0px);
  }
}
.c-from-left.appear,
.c-from-right.appear {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
