.slide-1 {
  background-image: url(../../src/assets/images/slider/bg-slide-1.jpeg);
}
.slide-2 {
  background-image: url(../../src/assets/images/slider/bg-slide-2.jpeg);
}
.slide-3 {
  background-image: url(../../src/assets/images/slider/bg-slide-3.jpeg);
}

.slide-4 {
  background: linear-gradient(90.21deg, #df569b 0.17%, #5982e2 99.07%);
}

.slick-active .active-dot {
  background-color: #ffffff;
}
